@import 'src/styles/global';

.ui.menu {
    background: $theme-color;
    @include border-radius(0);
    border: none;
    a.item {
        color: #ddd;
        @include transition(all 0.1s);
        &.active {
            background: #333;
            color: #eee;
            &:hover {            
                background: #444;
                color: #fff;
            }
        }
        &:hover {            
            background: #444;
            color: #fff;
        }
        &:before {
            background: none;
        }
        &>i.icon {         
            margin: 0;
            font-size: 25px;
        }
    }
}