.pixel {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline;
    float: left;
}

.row {
    height: 15px;
    width: 100%;
    background-color: grey;
}

.display {
    margin-top: 15px;
}
