<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NJsonSchema" version="8.10.6282.29572" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration" version="8.10.6282.29590" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration.TypeScript" version="8.10.6282.29590" targetFramework="net461" />
  <package id="NSwag.CodeGeneration" version="9.11.6282.35317" targetFramework="net461" />
  <package id="NSwag.CodeGeneration.TypeScript" version="9.11.6282.35321" targetFramework="net461" />
  <package id="NSwag.Core" version="9.11.6282.35315" targetFramework="net461" />
  <package id="NSwag.SwaggerGeneration" version="9.11.6282.35321" targetFramework="net461" />
  <package id="NSwag.SwaggerGeneration.WebApi" version="9.11.6282.35321" targetFramework="net461" />
</packages>