@import 'src/styles/global';
.ui.celled.table tr {
    th {
        background: $theme-color;
        border: 1px solid darken($theme-color, 5%);
        color: white;
        &:first-child {
            border-left: 1px solid darken($theme-color, 5%);
        }
    }
}