@import 'src/styles/global';
.page-content {
    border: 1px solid #ddd;
    @include border-radius(5px);
    background: #f9fafb;
    padding: 25px;
    box-shadow: 0 0 5px 0 rgba(34, 36, 38, .15);
    &.relative {
        position: relative;
    }
}

.ui.celled.table tr {
    th {
        background: $theme-color;
        border: 1px solid darken($theme-color, 5%);
        color: white;
        &:first-child {
            border-left: 1px solid darken($theme-color, 5%);
        }
    }
}